/temp
/node_modules
# /vendor

/public/storage/*

# /storage/app/public/clients/*
# !/storage/app/public/clients/

/storage/framework/cache/*
!/storage/framework/cache/
/storage/framework/session/*
!/storage/framework/session/
/storage/framework/testing/*
!/storage/framework/testing/
/storage/framework/views/*
!/storage/framework/views/

/storage/logs/*
!/storage/logs/

# .env