html,
body {
    position: relative;
    background: url(/images/app-background.jpg) no-repeat center center
        fixed;
    background-size: cover;
}

.form-login {
    margin-top: 7%;
    max-width: 450px;
    width: 450px;
    padding: 1rem;
}

.form-main {
    margin-top: 100px;
}
