/* setup body on start */
body {
    margin: 30px;
    font-family: arial;
    font-size: 7pt;
    line-height: 1.5;
    background-color: white;
}

.myButton {
    padding: 13px;
    margin-bottom: 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}

#border-area {
    padding: 30px;
    border: 2px solid silver;
    border-radius: 20px;
    box-shadow: 5px 5px silver;
    width: 65mm;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td,
th {
    border: 1px solid black;
}

tr {
    border-bottom: 2px solid gray;
}

table.no-border,
table.no-border td,
table.no-border th,
table.no-border tr {
    border: none;
}

@media print {
    body {
        margin: 0px;
    }

    @page {
        margin: 5mm 5mm 5mm 5mm;
    }

    #unprintable {
        display: none;
    }

    #border-area {
        padding: 0px;
        border: none;
        border-radius: none;
        box-shadow: none;
        width: 65mm;
    }

    #printable {
        display: block;
    }
}
